.a-propos {
 margin-bottom: 38px;
  }
   @media screen and (max-width: 992px) {
      
     .a_propos {
        margin-bottom: 20px;
     } 
    }
 @media screen and (max-width: 768px) {
     .a_propos {
        padding: 10px;
      }
    }
  
  